//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

//Brand colors

$color-primario: #4154BF;
$color-secundario: #8D9CF2;

//Action colors

$color-variante: #F2D750;
$color-variante-dos:  #04D9C4 ;

//Boolean colors
$color-negative: #f44336;
$color-positive: #04bf42;

//Background colors

$color-bg-claro: #f2f2f2;
$color-bg-oscuro: #181818;

//Basic colors

$color-claro: #ffffff;
$color-oscuro: #262626;


$nocolor-claro: #e6e6e6;
$nocolor-oscuro: #c5c5c5;
